table{
	border-collapse: collapse;
}
th, td{
	border:1px solid black;
	padding: 10px	
}
#btn-warning {
	color: red;
	background: gray;
	border-radius: 5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	width: 20px;
	color: black; 
}
form label {
	width: 80px;
	float: left;
	padding: 5px;
}
#form-control{
	padding: 5px;
}